mkdocs==1.6.1                            # core SSG
mkdocs-material==9.6.21                  # theme
mkdocs-mermaid2-plugin==1.2.2            # diagrams
mkdocs-awesome-pages-plugin==2.10.1      # sidebar ordering
mkdocs-enumerate-headings-plugin==0.6.2  # auto-number headings
mkdocs-panzoom-plugin==0.4.1             # diagram zoom functionality
mike==2.1.3                              # versioned documentation
codespell==2.4.1                         # spelling linter
pre-commit==4.3.0                         # precommit
